<h1>customer/index</h1>
<table cellspacing="15">
  <thead>
    <tr>
      <th>イメージ</th>
      <th>氏名</th>
      <th>年齢</th>
      <th>性別</th>
      <th>筋トレ歴</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <%= image_tag customer.get_profile_image, size: '80x80' %>
        </td>
        <td>
          <%= link_to customer_path(customer.id) do %>
          <%= customer.name %>
          <% end %>
        </td>
        <td><%= customer.age %></td>
        <td><%= customer.sex %></td>
        <td><%= customer.experience_years %>年</td>
        <td><%= customer.introduction_text %></td>
        <td>
          <% unless customer == current_customer %>
            <% if current_customer.following?(customer) %>
              <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post %>
              <% end %></td>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>