<div class= "customers">
  <div class= "index-link">
    <div><%= link_to "ユーザー一覧",customers_path %></div>
    <div><%= link_to "投稿一覧",muscle_posts_path %></div>
    <div><%= link_to "タイムライン", muscle_posts_tl_path %></div>
  </div>
  <table class= "index1">
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= image_tag customer.get_profile_image, size: '60x60' %>
          </td>
          <td>
            <%= link_to customer_path(customer.id) do %>
            <%= customer.name %>
            <% end %>
          </td>
          <td><%= customer.age %></td>
          <td><%= customer.sex %></td>
          <td>筋トレ歴<%= customer.experience_years %>年</td>
          <td><%= customer.introduction_text %></td>
          <td>
              <% if current_customer.following?(customer) %>
                <%= link_to "フォロー外す", customer_relationships_path(customer.id), method: :delete,class: "btn-square-little-rich" %>
              <% else %>
                <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post,class: "btn-square-little-rich" %>
              <% end %></td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
      <div class="d-flex justify-content-center">
        <%= paginate @customers %>
      </div>
</div>