<div class= "result-page">
  <% if @customers.exists? %>
  <h3>検索結果</h3>
    <% @customers.each do |customer| %>
      <% customer.muscle_posts.each do |muscle_post| %>
        <div class= "posts-index">
          <div class= "posts--item">
            <%= image_tag muscle_post.customer.get_profile_image, size: '60x60'%>
          </div>
          <div class= "posts--item">
            <%= muscle_post.customer.name %>
          </div>
          <div class= "posts--item">
            <%= muscle_post.customer.age %>
          </div>
          <div class= "posts--item">
            <%= muscle_post.customer.sex %>
          </div>
          <div class= "posts--item">
            <%= muscle_post.muscle_menu.name %>
          </div>
          <div class= "posts--item">
            <%= muscle_post.weight%>kgを<%= muscle_post.times %>回
          </div>
          <div class= "posts--item">
            <% unless muscle_post.customer == current_customer %>
            <%= render "public/favorites/favorite", muscle_post: muscle_post %>
            <% else %>
            <pre>　　</pre>
            <% end %>
          </div class= "posts--item">
          <div class= "posts--item">
            <%= link_to "詳細",muscle_post_path(muscle_post.id), class: "btn-circle-flat" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h3 class= "not-exist">ヒットしませんでした</h3>
  <% end %>
</div>


