<div class = "profile-container">
  <div class ="profile">
      <table class= "profile-table">
        <tr>
          <td>
            <%= image_tag @customer.get_profile_image, size: '80x80' %>
          </td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= @customer.age %></td>
        </tr>
        <tr>
          <td>性別</td>
          <td><%= @customer.sex %></td>
        </tr>
        <tr>
          <td>筋トレ歴</td>
          <td><%= @customer.experience_years %>年</td>
        </tr>
        <tr>
          <td>ひとこと紹介文</td>
          <td><%= @customer.introduction_text %></td>
        </tr>
        <tr>
          <td>フォロー　<%= link_to "#{@customer.followings.count} ",customer_followings_path(@customer.id)%></td>
          <td>フォロワー　<%= link_to "#{@customer.followers.count} ", customer_followers_path(@customer.id)%></td>
        </tr>
      </table>

      <% if @customer == current_customer %>
      <table class= "profile-table">
        <tr>
          <td class ="customer-link">
            <%= link_to edit_customer_path do %>
            <i class="fa-solid fa-user-gear"></i><span>編集する</span>
            <% end %>
          </td>
          <td class ="customer-link">
            <%=link_to favorites_customer_path(@customer) do %>
            <i class="fa-solid fa-heart"></i><span>いいね一覧</span>
            <% end %>
          </td>
        <tr>
      </table>
      <% else %>
      <table>
        <tr>
          <% if current_customer.following?(@customer) %>
          <td>
            <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete %>
          </td>
          <% else %>
          <td>
            <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post %>
          </td>
          <% end %>
        </tr>
      </table>
      <% end %>

      <h1>カレンダー??</h1>
      あなたのレベルは<%= @customer.muscle_posts.count.div(2)%>
      今までの総重量は<%= @customer.muscle_posts.map{|muscle_post| muscle_post.times * muscle_post.weight.to_i}.sum %>kg
</div>

    <div class= "customer-post">
    <h3>過去の投稿</h3>
        <% @muscle_posts.each do |muscle_post| %>
      <div class= "post-list">
        <div class= "post">
        <%= muscle_post.muscle_menu.name %>
        </div>
        <div class= "post">
        <%= muscle_post.weight %>kgを<%= muscle_post.times%>回
        </div>
        <div class= "post">
        <%= link_to "詳細を見る",muscle_post_path(muscle_post.id) %>
        </div>
      </div>
        <% end %>
        <div class="d-flex justify-content-center">
          <%= paginate @muscle_posts %>
        </div>
    </div>
</div>