<div class= "new-post">
  <div class= "new-post-child">
    <h2>投稿の編集</h2>
  </div>
  <div class= "new-post-child">
    <div class= "caution">体重のステータスは本人様にしか表示されません</div>
  </div>

  <%= form_with model: @muscle_post,url: muscle_post_path, method: :patch do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class= "new-post-child">
  <%= f.label :sentence, "文章(100文字以内)" %></br>
  <%= f.text_area :sentence,maxlength: "100" %>
  </div>

  <div class= "new-post-child">
  <%= f.label :post_image,"画像"%>
  <%= f.file_field :post_image, accept: "image/*" %>
  </div>

  <div class= "new-post-child">
  <%= f.label :body_weight,"体重" %>
  <%= f.text_field :body_weight,placeholder: "半角数字",size: "4×2" %>kg
  </div>

  <div class= "new-post-child">
  <%= f.label "トレーニングメニュー" %>
  <%= f.collection_select :muscle_menu_id, MuscleMenu.all, :id, :name, :include_blank => "--選択してください--" %></br>
  <%= f.text_field :weight,placeholder: "半角数字",size: "4×2" %>kg
  を<%= f.text_field :times,placeholder: "半角数字",size: "4×2" %>回
  </div>
  <div class= "new-post-child">
  <%= f.submit "変更を保存する" %>
  </div>
<% end %>
</div>