<div class= "post-index">
  <div class= "index-link">
    <div><%= link_to "ユーザー一覧",customers_path %></div>
    <div><%= link_to "投稿一覧",muscle_posts_path %></div>
    <div><%= link_to "タイムライン",muscle_posts_tl_path %></div>
  </div>
</div>
    <table class= "index1">
      <tbody>
        <% @muscle_posts.each do |muscle_post| %>
          <tr>
            <td><%= muscle_post.customer.name %>さんの投稿</td>
            <td><%= muscle_post.customer.age %></td>
            <td><%= muscle_post.customer.sex %></td>
            <td><%= muscle_post.muscle_menu.name %></td>
            <td><%= muscle_post.weight%>kgを<%= muscle_post.times %>回</td>
            <td><%= render "public/favorites/favorite", muscle_post: muscle_post %></td>
            <td>
              <%= link_to muscle_post_path(muscle_post.id) do %>
              詳細
              <% end %>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
    
</div>