<nav class="navbar navbar-expand-lg navbar-dark header">
  <div class ="icon">
   <%= link_to homes_about_path, class: "navbar-brand" do %>
   <%= image_tag 'logo4.jpg', size: "150x75" %>
   <% end %>
  </div>
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto row header-list">
          <% if admin_signed_in? %>
            <li>
              <%= link_to "筋トレメニュ一覧", admin_muscle_menus_path %>
            </li>
            <li>
              <%= link_to "会員一覧", admin_customers_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </li>
            <% else %>
            <% if customer_signed_in? %>
            <li>
              <%= link_to customer_path(current_customer) do %>
              <i class="fas fa-user link-icon"></i><span class='sample'>マイページ</span>
              <% end %>
            </li>
            <li>
              <%= link_to customers_calendar_path do %>
              <i class="fas fa-calendar link-icon"></i><span class='sample'>カレンダー</span>
              <% end %>

            </li>
            <li>
              <%= link_to new_muscle_post_path do  %>
              <i class="fas fa-pen link-icon"></i><span class='sample'>投稿する</span>
              <% end %>
            </li>
            <li>
              <%= link_to muscle_posts_path do %>
              <i class="fas fa-users link-icon"></i><span class='sample'>他のユーザー</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt link-icon"></i><span class='sample'>ログアウト</span>
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to "about",homes_about_path %>
            </li>
            <li>
              <%= link_to "新規登録",new_customer_registration_path %>
            </li>
            <li>
              <%= link_to "ログイン",new_customer_session_path %>
            </li>
            <% end %>
          <% end %>
          </ul>
      </div>
  </div>
</nav>
<script>
  $(function(){
    $('.sample').mouseover(function(e){
      $(this).css('color','#FFCC66');
    });
    $('.sample').mouseout(function(e){
      $(this).css('color','#333333');
    });
    $('.link-icon').mouseover(function(e){
      $(this).parent().find('.sample').css('color','#FFCC66');
    });
    $('.link-icon').mouseout(function(e){
      $(this).parent().find('.sample').css('color','#333333');
    });
  });
</script>