<% if admin_signed_in? %>
  <div class ="icon">
    <%= link_to homes_about_path, class: "navbar-brand" do %>
    <%= image_tag 'logo4.jpg', size: "150x75" %>
    <% end %>
  </div>
<% else %>
  <% if customer_signed_in? %>
    <div class ="icon">
    <%= link_to customer_path(current_customer), class: "navbar-brand" do %>
    <%= image_tag 'logo4.jpg', size: "150x75" %>
    <% end %>
    </div>
  <% else %>
    <div class ="icon">
    <%= link_to homes_about_path, class: "navbar-brand" do %>
    <%= image_tag 'logo4.jpg', size: "150x75" %>
    <% end %>
    </div>
  <% end %>
<% end %>