<!DOCTYPE html>
<html>
  <head>
    <title>Kinreco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class= "main">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-text">
          <p>
          © 2022 kinreco&nbsp;&nbsp;
          <%= link_to new_contacts_path do %>
          <i class="fas fa-comment-dots footer-icon"></i>
          <% end %>
          </p>
      </div>
    </footer>
  </body>
</html>
